In [12]:
import pandas as pd

df = pd.read_excel('./지오코딩테스트.XLSX')
df

                 addr
0  대구시 달서구 신당동 1729-9
1      달서구 신당동 1729-9

In [14]:
# 라이브러리 설치
# !pip install googlemaps

# import 라이브러리
import googlemaps
import pandas as pd
from tqdm import tqdm

#예제 데이터 : df_shake
#컬럼 정보 : name, branch, addr

# API키 입력
mykey = "insert your key"
maps = googlemaps.Client(key='AIzaSyB06cTGqUqqGHsagKXXdvzWQxbg-yVHcPk')  # my key값 입력

# 위도,경도 변환하는 함수 생성
def trans_geo(addr):
    try:
        geo_location = maps.geocode(addr)[0].get('geometry')
        lat = geo_location['location']['lat']
        lng =  geo_location['location']['lng']
        return [lat,lng]
    except:
        return [0,0]

# 실행
for idx, addr in enumerate(tqdm(df.addr)):
    df.loc[idx,'latitude'] = trans_geo(addr)[0]
    df.loc[idx,'longitude'] = trans_geo(addr)[1]

100%|██████████| 2/2 [00:00<00:00,  2.21it/s]

In [15]:
df

                 addr   latitude   longitude
0  대구시 달서구 신당동 1729-9  35.856518  128.494899
1      달서구 신당동 1729-9  35.856518  128.494899